trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  displayName: Nginx Build
  inputs:
    containerRegistry: 'Pipeline-Dev_RegConn'
    repository: 'pipeline_dev'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: 'latest'